@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);

  --color-food-900: #93971F;
  --color-slime-600: #B2B33A;

  --color-special-900: #d58c7e;
  --color-special-600: #f5b8b0;

  --color-guild-900: #506e89;
  --color-guild-600: #7a9db2;

  --color-sauna-900: #cc3301;
  --color-sauna-600: #e65c1a;

  --color-normal-900: #EEC156;
  --color-normal-600: #f5d02c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FaFaFa;
    --foreground: #171717;
  }
}
@layer components {
    .debug {
        border: 2px solid black;
    }
    .center {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .box {
        border: 2px solid var(--color-amber-800);
        padding-inline: calc(var(--spacing) * 3);
        padding-block: calc(var(--spacing) * 2);
        border-radius: var(--radius-2xl);
        --shadow: var(--shadow-md);
    }
    .no-border-box {
        border: 2px solid transparent;
        padding-inline: calc(var(--spacing) * 3);
        padding-block: calc(var(--spacing) * 2);
        border-radius: var(--radius-md);
        --shadow: var(--shadow-md);
    }
    .box-hover {
        border: 2px solid var(--color-amber-800);
        padding-inline: calc(var(--spacing) * 3);
        padding-block: calc(var(--spacing) * 2);
        border-radius: var(--radius-2xl);
        --shadow: var(--shadow-md);
    }
    .box-hover:hover {
        border: 2px solid var(--color-amber-600);
        padding-inline: calc(var(--spacing) * 3);
        padding-block: calc(var(--spacing) * 2);
        border-radius: var(--radius-2xl);
        --shadow: var(--shadow-md);
    }
    .button {
        border: 2px solid var(--color-amber-800);
        background-color: var(--color-amber-800);
        padding-inline: calc(var(--spacing) * 3);
        padding-block: calc(var(--spacing) * 2);
        border-radius: var(--radius-md);
        text-align: center;
        align-items: center;
        justify-content: center;
        -webkit-user-select: none;
        user-select: none;
        --shadow: var(--shadow-md);
        color: white;
        font-weight: 600;
        cursor: pointer;
    }
    .button:hover {
        border: 2px solid var(--color-amber-600);
        background-color: var(--color-amber-600);
    }
    .button:active {
        border: 2px solid var(--color-amber-900);
        background-color: var(--color-amber-950);
    }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
input {
    border: 1px solid var(--color-amber-800);
    padding-inline: calc(var(--spacing) * 3);
    padding-block: calc(var(--spacing) * 2);
    border-radius: var(--radius-2xl);
    --shadow: var(--shadow-md);
    text-align: center;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: none;
}

input,
textarea,
select {
    -webkit-appearance: none;
}
div {
    -webkit-appearance: none;
}
div:focus {
    outline: none;
    box-shadow: none;
}
